// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before {
  box-sizing: inherit;
}

a {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

body {
  font-family: 'Helvetica Neue', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: $default-font-color;
}

.material-icons {
  font-size: 1.6rem;
  display: inline-flex;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 300;
  border: none;
  outline: none;

  &:focus,
  &:hover {
    outline: 0;
  }
}

hr {
  margin: 2rem 0;
}

p {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

#root, body, html {
  height: 100%;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input:not([type]),
textarea,
select {
  font-size: 1.6rem;
  font-weight: 300;
  width: 100%;

  &:active,
  &:focus {
    outline: 0;
  }
}
