.tappable {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  cursor: pointer;

  &:hover {
    background: $primary-color-hover;
    color: $light-font-color;
  }

  &:active {
    background: $primary-color-active;
    color: $light-font-color;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
    filter: grayscale(1)
  }
}

.btn {
  padding: 1rem;
  line-height: normal;
  border-radius: $border-radius;
  background: $primary-color;
  color: $light-font-color;
  font-size: 1.4rem;
  text-transform: uppercase;

  &:hover {
    background: $primary-color-hover;
    color: $light-font-color;
  }

  &:active {
    background: $primary-color-active;
  }
}

.btn-success {
  background: $success-color;

  &:hover {
    background: $success-color-hover;
  }

  &:active {
    background: $success-color-active;
  }
}

.btn-danger {
  background: $danger-color;

  &:hover {
    background: $danger-color-hover;
  }

  &:active {
    background: $danger-color-active;
  }
}

.btn-inverted {
  background: none !important;
  color: $primary-color;

  &:hover {
    background: rgba(1, 1, 1, 0.1) !important;
    color: $primary-color-hover;
  }

  &:active {
    color: $primary-color-active;
  }

  &.btn-danger {
    color: $danger-color;

    &:hover {
      color: $danger-color-hover;
    }

    &:active {
      color: $danger-color-active;
    }
  }
}

.btn-round {
  width: $btn-round-size;
  height: $btn-round-size;
  border-radius: 50%;
}

.btn-small {
  font-size: 1.2rem;
  padding: 0.8rem;
  text-transform: capitalize;
}

html.can-touch {
  .tappable:hover {
    background: none;
    color: $default-font-color;
  }

  .btn:hover {
    background: $primary-color;
    color: $light-font-color;
  }

  .btn-success:hover {
    background: $success-color;
  }

  .btn-danger:hover {
    background: $danger-color;
  }

  .btn-inverted:hover {
    background: none !important;
    color: $primary-color;
  }
}
