.demo-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  &.is-horizontal {
    flex-direction: row;
  }

  // Never use '*' for production apps
  & > * {
    margin: 0.5rem;
  }
}

.demo-card {
  height: 100%;
}
