.toast {
  position: fixed;
  padding: 0 1rem;
  bottom: 2rem;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $toast-z;
}

.toast-content {
  background-color: $toast-background;
  color: $light-font-color;
  font-size: $toast-font-size;
  padding: 0.5rem 1.5rem;
  border-radius: $toast-radius;
  animation: slideFadeIn 180ms linear 0s;
}
